html {
  font-size: 62%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  border: 0; }

main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto; }

h1 {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100; }
